@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font Nexa */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden !important;
  position: relative !important;
  display: flex;
  max-height: 100vh;
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-85 {
  width: 85%;
}

.img-sm {
  object-fit: cover;
  max-width: 50px;
  max-height: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  color: #000;
}

p,
a,
span,
i,
small,
li {
  font-family: 'Montserrat', sans-serif;
  color: #6c757d;
}

.fw-semibold {
  font-weight: 600 !important;
}

ul li {
  margin-bottom: 3px;
}

.overflow-all {
  overflow: hidden;
}

.bg-blue {
  background-color: #223e7c;
}

.text-blue {
  color: #223e7c;
}

.btn-blue {
  background-color: #223e7c;
  color: white;
  transition: 0.3s ease;
}

.main-sidebar {
  height: 100vh;
}

.main-body {
  flex-grow: stretch;
  overflow-y: auto;
}

.btn-blue i {
  color: #fff;
}

.btn-blue:hover {
  color: #223e7c !important;
  background: white;
  border: 1px solid #223e7c !important;
}

.btn-blue:hover i {
  color: #223e7c;
}

.btn-outline-blue {
  background-color: white;
  color: #223e7c;
  font-weight: 600;
  transition: 0.3s ease;
  border: 1px solid #fff;
}

.btn-outline-blue:hover {
  background-color: #f5f5f500;
  color: #fff;
  border: 1px solid #fff;
}

.text-primary {
  color: #223e7c !important;
}

.bg-black {
  background-color: #111111;
}

.bg-light-gray {
  background-color: #f1f5f9;
}

.bg-through {
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-news {
  background: rgb(247, 247, 247);
}

.text-light-gray {
  color: rgb(199, 199, 199);
  letter-spacing: 2px;
}

.bg-footer {
  background-color: #111;
}

.footer-bottom {
  background-color: #111;
}

.card-bg {
  min-width: 500px !important;
}

.p-10 {
  padding: 5rem;
}

.pt-10 {
  padding-top: 5rem;
}

.pb-10 {
  padding-bottom: 5rem;
}

.py-10 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-11 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-12 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.px-4_5 {
  padding-right: 1.75rem !important;
  padding-left: 1.75rem !important;
}

.py-16 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.py-20 {
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.fs-7 {
  font-size: 3.5rem;
}

.fs-8 {
  font-size: 4rem;
}

.fs-9 {
  font-size: 4.5rem;
}

.fs-10 {
  font-size: 5rem;
}

.notification-drop.dropdown-toggle::after {
  display: none !important;
}

.obj-fit {
  object-fit: cover;
}

.btn-black {
  background-color: #111111bb;
  color: white;
  font-size: 1rem;
}

.btn-black:hover {
  background-color: #111111;
  transition: 0.3s ease-in;
  color: white;
  font-size: 1rem;
}

.carousel-item {
  height: 70vh;
}

.carousel-caption {
  left: auto;
  right: 15% !important;
  max-width: 600px;
  bottom: 6.25rem;
  text-align: left;
}

.max-w-200 {
  max-width: 200px;
}

.max-w-400 {
  max-width: 400px;
}

.min-w-400 {
  min-width: 400px;
}

.max-w-500 {
  max-width: 500px;
}

.max-w-600 {
  max-width: 600px;
}

.max-w-800 {
  max-width: 800px;
}

.min-h-300 {
  min-height: 300px;
}

.scaler {
  scale: 1;
  transition: 0.3s ease-in-out;
  background-color: #fff;
}

.scaler:hover {
  scale: 1.05;
  z-index: 1;
  background-color: #223e7c;
  color: #fff !important;
  border-color: #223e7c;
}

.scaler .icon i {
  color: #223e7c;
}

.scaler:hover .icon i,
.scaler:hover h3,
.scaler:hover p {
  color: #fff;
}

.owl-carousel .owl-item img {
  width: auto;
  margin: auto;
}

.carousel-indicators [data-bs-target] {
  background-color: #e0e0e0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
}

.carousel-indicators [data-bs-target].active,
.carousel-indicators [data-bs-target]:hover {
  background-color: white;
  border-color: #223e7c;
}

.main-nav {
  position: relative;
}

.main-nav .navbar-toggler {
  position: absolute;
  right: 0.2rem;
  top: 1.5rem;
}

.sm-blue-line {
  background-color: #223e7c;
  height: 4px;
  width: 40px;
}

.brand-logo-container {
  overflow: hidden;
  height: 129px;
}

.brand-logo-container .logos {
  width: 100%;
  transform: translateY(0);
  transition: 0.4s ease-in-out;
}

.brand-logo-container .logos:hover {
  transform: translateY(-141px);
}

/* accordion */

.accordion-collapse {
  margin-top: 5px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.accordion-item {
  border: 0;
  /* border-bottom: 1px solid rgb(228, 228, 228); */
  margin-bottom: 5px;
}

.accordion-button {
  border-radius: 10px;
  background-color: #f3f3f3;
  transition: 0.3s ease-in;
}

.accordion-button:hover {
  background-color: #223e7c;
  color: #ffffff;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 0%);
}

.accordion-button:not(.collapsed) {
  background-color: #223e7c;
  color: #ffffff;
}

.accordion-button::after {
  background-image: url("../images/icons/plus-icon.svg");
  color: white;
  width: 30px;
  height: 30px;
  background-size: contain;
  transition: 0.3s ease;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/icons/minus-icon.svg");
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #223e7c;
  color: white;
  cursor: pointer;
  padding: 12px 20px;
  transition: 0.3s ease;
}

#topBtn:hover {
  transform: scale(1.1);
}

.icon-img {
  width: 48px;
  height: 48px;
}

.tick-list li {
  padding: 10px;
}

.tick-list li::marker {
  font-family: "Font Awesome 6 Free";
  font: var(--fa-font-solid);
  content: "\f00c";
  color: #000000;
  border-radius: 50%;
}

.card {
  position: relative;
}

.blog_image {
  object-fit: contain;
  overflow: hidden;
}

.card .blog_image img {
  width: 100%;
  transition: 0.5s ease-in;
}

.card:hover .blog_image img {
  transform: scale(1.05);
}

.blog-date {
  font-size: 1rem;
  text-align: center;
  background-color: #223e7c;
  position: absolute;
  padding: 10px;
  bottom: 46%;
  left: 5px;
  border-radius: 25px;
  font-weight: 700;
}

.blog-date span {
  color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000000e5;
}

/*heroes carousel*/

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 25px;
  background: #223e7c !important;
  color: white;
  border-radius: 50%;
  padding: 0px 12px !important;
}

.logos:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.2);
}

.carousel-caption h2 {
  transform: translateX(20%);
  transition: all 1s ease;
  transition-delay: 0.4s;
  opacity: 0;
}

.carousel-caption p {
  transform: translateX(20%);
  transition: all 1s ease;
  transition-delay: 0.6s;
  opacity: 0;
}

.carousel-caption .sm-blue-line {
  transform: translateX(20%);
  transition: all 1s ease;
  transition-delay: 0.5s;
  opacity: 0;
}

.carousel-item.active .carousel-caption h2,
.carousel-item.active .carousel-caption p,
.carousel-item.active .carousel-caption .sm-blue-line {
  opacity: 1;
  transform: translateX(0);
}

.carousel form {
  position: absolute;
  top: 50%;
  left: 15%;
  z-index: 100;
  transform: translateY(-50%);
}

.carousel select,
.carousel input {
  border: 1px solid #fff;
}

.nav-link {
  position: relative;
  margin: 0px 5px;
  font-weight: 900;
}

.nav-link::after {
  content: "";
  height: 3px;
  position: absolute;
  border-radius: 1.5px;
  width: 100%;
  transform: scale(0);
  transform-origin: left;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
  background: #223e7c;
}

.nav-link:hover::after {
  transform: scale(1);
  /* transform-origin: left; */
}

.btn:focus {
  box-shadow: none;
}

.form-select:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.team-member {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
  object-position: top;
}

a.text-secondary {
  transition: 0.3s ease;
}

a.text-secondary:hover svg {
  color: #000;
}

.btn.text-blue:hover {
  color: #000;
}

.offcanvas-body .nav .nav-item .nav-link {
  color: rgb(160, 160, 160);
  padding-left: 0;
  margin-bottom: 5px;
}

.offcanvas-body .nav .nav-item .nav-link.active {
  color: #223e7c;
}

.img-border {
  border-left: 10px solid white;
  border-bottom: 10px solid white;
}

.translate-about-yrs {
  transform: translate(0%, -203%) !important;
}

p {
  font-size: 18px;
}

.back-img {
  min-height: 500px;
  width: 75%;
  object-fit: cover;
}

.translate-y-middle {
  width: 90%;
  transform: translate(50%, -75%);
}

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(255, 255, 255, 0.85);
  background-color: #223e7c;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.8%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  background-color: #223e7c;
  color: rgba(255, 255, 255, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.8%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #223e7c;
  color: #fff !important;
}

.btn-toggle:hover i, .btn-toggle:focus i, .btn-toggle[aria-expanded="true"] i{
  color: #fff !important
}

.btn-toggle[aria-expanded="true"] 

.btn-toggle:hover[aria-expanded="false"]::before,
.btn-toggle:focus[aria-expanded="false"]::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.8%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.scrollarea {
  overflow-y: auto;
}

.side-menu-items li a {
  font-size: 18px !important;
  padding: 0.5rem;
  display: block;
  transition: 0.2s ease-in-out;
}

.side-menu-items li a:hover, .side-menu-items li a:focus {
  color: #fff !important;
  background-color: #223e7c;
}

.side-menu-items li a:hover i {
  color: #fff !important;
}

.side-menu-items li a:focus i {
  color: #fff !important;
}

.side-menu-items li a.active {
  color: #fff !important;
  background-color: #223e7c;
}

.side-menu-items li a.active i {
  color: #fff !important;
}

tbody, td, tfoot, th, thead, tr {
  font-size: small;
}

td {
  font-weight: 500;
}

.basic-info li {
  display: flex;
  align-items: start;
}

.basic-info li i, .basic-info li svg  {
  margin-right: 5px;
}

.info-number {
  min-width: 90px;
}

@media screen and (max-width: 499px) {
  .card-bg {
    min-width: 96% !important;
  }
}
